/***@font-face 
    font-family: 'Bellota', cursive;
    font-style: normal;
    font-weight: normal;
    src:local('Bellota'), url(https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"rel="stylesheet);
}**/

html, body {
    height: 100%;
    font-family: 'Bellota';
}

body {
    background-color: cornsilk;
    background-image: url("./imgs/71design.png");
    background-repeat: repeat-y;
    background-size: cover;
}

.pageContainer {
    max-width: 1200px;
    margin: auto;
}

.pageHeader {
    background-color:rgb(243, 195, 63);
    text-align: center;
    font-weight: 700;
    position: static;
    font-size: 7vw;
    padding-top: 55px;
    padding-bottom: 0px;
}

.pageHeader h1 {
    margin: 0;
    padding: 0;
}


.pageHeaderevent h3 {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'bellota';
}

.subHeader {
    background-color: khaki;
    margin: 0px;
    height: 100px;
    text-align: center;
    font-size: 25px;
    font-family: 'bellota', cursive;
    font-weight: 700;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subHeader h2 {
    margin: 0;
    font-weight: 900;
    }

.subHeaderevent {
    padding: 2px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color:khaki;
    color: #444;
}

.subHeaderevent h3 {
    margin-top: 2px;
    font-weight: 900;
    font-size: 23px;
    text-align: center;
}

.box {
    background-color: rgb(109, 199, 132);
    justify-content: left;
    flex-direction: row;
    flex-grow: inherit;
    height: auto;
    width: auto;
    color:rgb(34, 2, 30);
    border-radius: 5px;
    margin: 14px;
    padding: 20px;
    font-size: 12px;
    border:rgb(64, 30, 126);
    border-width: 3px;
    border-style:double;
}

.box h2 {
    font-weight: 700;
    font-family: 'bellota-litghtitalic';
}


.alphabet_chunk {
    height: 5%;
    padding: 10px;
    margin: 0;
    font-size: 19px;
    text-align: center;
    font-family: 'bellota', 'cursive';
    font-style: normal;
    font-weight: 900;
}

.carousel__container {
    overflow: hidden;
    box-sizing: border-box;
    background-color:khaki;
}

.carousel {
    width: 90%;
    margin: auto;
    transform-style: preserve-3d;
}

.carousel__photo {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    margin: auto;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__poto.initial,
.carousel__photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel__photo.prev,
.carousel__photo.next {
    z-index: 800;
}

.carousel__photo.prev {
    transform: translate(-100%);
}

.carousel__photo.next {
    transform: translate(100%);
}

.carousel__button--prev,
.carousel__button--next {
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #FFF;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    border: 1px solid black;
}

.carousel__button--prev {
    left: 12px;
}

.carousel__button--next {
    right: 12px;
}

.carousel__button--prev::after,
.carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.navBar {
    background-color:rgb(238, 119, 8);
    height: 130px;
    overflow: auto;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap:wrap; 
    display: flex;
    flex-direction: row;
    
}

.circleScaleBtn {
    padding: 40px 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: hsl(194, 100%, 97%);
    color: hsl(273, 83%, 26%);
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    font-size: 15px;
    font-weight: 700;
}

.circleScaleBtn span {
    z-index: 1;
    position: relative;
}

.circleScaleBtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border-radius: 90%;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
    transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
    background-color: hsl(263, 74%, 24%);
    opacity: 0;
}

.circleScaleBtn:hover span {
    color: hsl(222, 100%, 95%);
}

.circleScaleBtn:hover::before {
    opacity: 1;
    transition-duration: .99s;
    transform: translate3d(-50%,-50%,0) scale3d(1,1,1)
}

.button {
    background-color: whitesmoke;
    height: 100px;
    width: 100px;
    margin: 20px;
        }

.gridSystem {
    background-color: rgb(243, 195, 63);
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    }

.card {
    background-color: rgb(250, 242, 228);
    height: 340px;
    width: 300px;
    margin: 20px;
    font-family: 'bellota', 'cursive';
    font-size: 150px;
    font-weight: 700;
    text-align: center;
    padding-top: 140px;
    border-color: rgb(151, 48, 134);
    border-style: solid;
    border-width: 7px;
    border-radius: 10px;
}

.card:hover {
    cursor: pointer;
    border-color: rgb(213, 73, 190);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.closed {
    display: none;
}

.modal {
    /* Position */
    z-index: 1010;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    /* Size */
    height: 90%;
    width: 90%;
    max-height: 950px;
    max-width: 550px;
    background-color: rgb(250, 242, 228);
    border-color: rgb(135, 14, 146);
    border-style: solid;
    border-width: 7px;
    border-radius: 22px;
    overflow: auto;
}

.modal.closed {
    display: none;
}

.modal p {
    padding: 10px 0;
}

.modal .close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    border: 0;
    background: none;
    font-weight: 600;
    cursor: pointer;
    color: darkorange;
}

.modal-image {

}

.modal-content {
    padding: 60px;
}

#scroll-button {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:hsl(263, 74%, 24%); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /*
    font-weight: 700;
    font-size: 20px; /* Increase font size */
}

#scroll-button:hover {
    background-color: rgb(236, 132, 13); /* Add a dark-grey background on hover */
  }
